@use "../global/variable.scss" as var;

.advantages {
  max-width: 100%;
  min-height: 690px;
  overflow: hidden;
  padding: 10px 0 0 0;

  @media (min-width: var.$tablet-width) {
    min-height: 740px;
  }

  @media (min-width: var.$desktop-width) {
    min-height: 790px;
  }
}

.advantages__wrapper {
  position: relative;
  max-width: 100%;
}

.advantages__img {
  display: block;
  margin: 0 auto;
  z-index: 10;

  @media (min-width: var.$desktop-width) {
    min-width: 656px;
    min-height: 790px;
  }
}

.advantages__icon {
  margin: 0 32px 0 32px;

  @media (min-width: var.$desktop-width) {
    width: 26px;
    height: 42px;
    margin: 0 50px 0 50px;
  }
}

.advantages__line {
  position: absolute;
  display: flex;
  align-items: center;
  width: 200%;
  height: 80px;
  margin: 0 -30px;
  background-color: var.$nero;
  background-image: url("../img/pattern.png");
  background-repeat: repeat-x;
  z-index: -1;

  @media (min-width: var.$desktop-width) {
    height: 103px;
  }

  &--light {
    background-color: rgba(var.$white-smoke, 0.6);
    background-image: url("../img/marquee-light.png");
    background-size: 100% 98%;
    background-position: 50%;
    z-index: -2;
  }

  &:nth-of-type(1) {
    left: 0;
    top: 0;
    transform: rotate(-5deg);

    @media (min-width: var.$desktop-width) {
      top: 50px;
    }
  }

  &:nth-of-type(2) {
    left: 0;
    top: 465px;
    transform: rotate(3.5deg);

    @media (min-width: var.$desktop-width) {
      top: 350px;
    }
  }

  &:nth-of-type(3) {
    left: 0;
    top: 535px;
    transform: rotate(-5deg);

    @media (min-width: var.$desktop-width) {
      top: 455px;
    }
  }
}

.advantages__text {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  font-family: var.$accent-font;
  font-size: 24px;
  line-height: 24px;
  color: var.$white;
  text-transform: uppercase;
  white-space: nowrap;
  animation: marquee-infinite 5s linear infinite;

  @media (min-width: var.$desktop-width) {
    font-size: 32px;
    line-height: 32px;
  }

  &--light {
    color: var.$brilliant-rose;
  }
}

@keyframes marquee-infinite {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}
