@use "../global/variable.scss" as var;

.faq {
  padding: 40px 0 102px 0;

  @media (min-width: var.$desktop-width) {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 48px 173px 48px;
  }
}

.faq__tabs {
  display: grid;

  @media (min-width: var.$tablet-width) {
    grid-template-columns: 300px 1fr;
    gap: 70px;
  }

  @media (min-width: var.$desktop-width) {
    grid-template-columns: 437px 1fr;
    gap: 130px;
  }
}

.faq__title {
  margin: 0 0 24px 0;
  padding: 0 24px;
  font-family: var.$secondary-font;
  font-size: 36px;
  line-height: 44px;

  @media (min-width: var.$desktop-width) {
    margin: 0 0 49px 0;
    padding: 0;
    font-size: 58px;
    line-height: 62px;
  }
}

.faq__links {
  min-width: 0;
  max-width: 100%;
  margin: 0 0 30px 0;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 0 24px;
  }

  @media (min-width: var.$desktop-width) {
    margin: 0;
  }
}

.faq__links-wrapper {
  @media (min-width: var.$tablet-width) {
    display: block;
  }
}

.faq__link {
  position: relative;
  font-family: var.$primary-font;
  min-height: 72px;
  padding: 25px 32px 25px 16px;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  border: none;
  border-top: 1px solid var.$white;
  background-color: var.$nero;
  color: var.$white;
  text-transform: uppercase;
  text-align: left;
  transition: 0.3s ease-out;

  @media (min-width: var.$tablet-width) {
    display: flex;
    align-items: center;
    padding: 0 24px;
    background-color: var.$transparent;
    color: var.$nero;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: var.$light-grey;
  }

  @media (min-width: var.$desktop-width) {
    min-width: 437px;
  }

  &:first-child {
    @media (min-width: var.$tablet-width) {
      border: 1px solid var.$light-grey;
    }
  }

  &:hover {
    color: var.$white;
    background-color: var.$nero;

    @media (min-width: var.$tablet-width) {
      border-color: var.$nero;
    }
  }
}

.faq__link-icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  transition: transform 0.3s ease-out;

  @media (min-width: var.$tablet-width) {
    display: none;
  }
}

.faq__link.is-active {
  .faq__link-icon {
    transform: translateY(-50%) rotate(180deg);
  }

  @media (min-width: var.$tablet-width) {
    color: var.$white;
    background-color: var.$nero;
  }
}


.faq__content-item {
  padding: 0 24px;

  &--small {
    @media (min-width: var.$tablet-width) {
      display: none;
    }
  }

  &--large {
    @media (max-width: var.$mobile-width-only) {
      display: none;
    }
  }

  @media (min-width: var.$tablet-width) {
    padding: 0 24px 0 0;
  }

  @media (min-width: var.$desktop-width) {
    max-width: 664px;
    padding: 0;
  }
}

.faq__link-wrapper.is-active {
  .faq__content-item {
    &--small {
      padding: 10px 24px 10px 24px;
    }
  }
}

.faq__content-title {
  margin: 0 0 24px 0;
  font-family: var.$secondary-font;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: var.$tablet-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.faq__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.faq__question {
  position: relative;
  width: 100%;
  padding: 34px 16px;
  font-family: var.$primary-font;
  font-size: 20px;
  line-height: 19px;
  text-align: left;
  background-color: var.$transparent;
  border: none;
  border-bottom: 1px solid var.$gainsboro;
  transition: 0.3s ease-out;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    width: 24px;
    height: 1px;
    background-color: var.$nero;
    transform: translateY(-50%);
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    width: 24px;
    height: 1px;
    background-color: var.$nero;
    transform: translateY(-50%) rotate(90deg);
    transition: 0.3s ease-out;
  }

  &:hover {
    border-bottom-color: var.$nero;
  }

  span {
    display: block;
    max-width: 250px;

    @media (min-width: var.$tablet-width) {
      max-width: 300px;
    }

    @media (min-width: var.$desktop-width) {
      max-width: 550px;
    }
  }
}

.faq__answer {
  padding: 0 16px;
  font-size: 16px;
  line-height: 20px;
  color: var.$nero-2;

  p {
    margin: 0 0 10px 0;
  }

  ol,
  ul {
    margin: 0 0 10px 0;
  }
}

.faq__item.is-active {
  border-bottom: 1px solid var.$nero;

  .faq__question {
    border: none;

    &::before {
      transform: rotate(0deg);
    }
  }

  .faq__answer {
    margin: 0 0 40px 0;
  }
}

.faq__answer-wrapper {
  text-align: center;
}
