@use "../global/variable.scss" as var;

.main-header {
  background-color: var.$nero;
  z-index: 4;
  transition: 1s ease;

  @media (max-width: var.$mobile-width-only) {
    position: sticky;
    top: 0;
    max-height: 72px;
  }

  @media (min-width: var.$tablet-width) {
    padding: 16px 24px;
  }

  @media (min-width: var.$desktop-width) {
    padding: 16px 48px 16px 48px;
  }

  &--opened {
    .main-header__nav {
      @media (max-width: var.$mobile-width-only) {
        transform: translateY(0);
        transition: transform 1s ease-out;
      }
    }

    .main-header__toggle-line:nth-child(1) {
      transform: scaleX(0);
    }

    .main-header__toggle-line:nth-child(2) {
      transform: rotate(45deg);
    }

    .main-header__toggle-line:nth-child(3) {
      transform: rotate(-45deg);
    }

    .main-header__toggle-line:nth-child(4) {
      transform: scaleX(0);
    }
  }
}

.main-header__wrapper {
  @media (min-width: var.$tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: var.$desktop-width) {
    max-width: 1344px;
    margin: 0 auto;
  }
}

.main-header__nav {
  @media (max-width: var.$mobile-width-only) {
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-150%);
    background-color: var.$nero;
    z-index: 3;
    transition: opacity 0.3s ease-out, transform 1s ease-out;
  }
}

.main-header__wrapper-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 72px;
  padding: 22px 24px 18px 24px;

  @media (min-width: var.$tablet-width) {
    min-height: unset;
    width: unset;
    flex-grow: 1;
    margin: 0 12px 0 0;
    padding: 0;
  }

  @media (min-width: var.$desktop-width) {
    margin: 0 48px 0 0;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;

  @media (min-width: var.$tablet-width) {
    width: auto;
  }

  @media (min-width: var.$desktop-width) {
    margin: 9px 0 0 0;
  }
}

.main-header__logo-img {
  min-width: 140px;
  max-height: 24px;

  @media (min-width: var.$tablet-width) {
    min-width: 150px;
    height: auto;
    max-height: 26px;
  }

  @media (min-width: var.$desktop-width) {
    min-width: 240px;
    height: auto;
    max-height: 35px;
  }
}

.main-header__toggle {
  position: relative;
  width: 36px;
  height: 36px;
  margin: -5px 0 0 0;
  padding: 9px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var.$white;

  @media (min-width: var.$tablet-width) {
    display: none;
  }
}

.main-header__toggle-line {
  display: block;
  position: absolute;
  left: 10px;
  right: 10px;
  height: 1px;
  background-color: var.$white;
  transition: 0.3s ease-out;

  &:nth-child(1) {
    top: 11px;
  }

  &:nth-child(2) {
    top: 16px;
  }

  &:nth-child(3) {
    top: 16px;
  }

  &:nth-child(4) {
    top: 21px;
  }
}

