@use "../global/variable.scss" as var;

.main-nav {
  display: flex;
  flex-direction: column;
  min-height: 742px;
  padding: 52px 24px 48px 24px;

  @media (min-width: var.$tablet-width) {
    flex-direction: row;
    min-height: unset;
    width: 100%;
    padding: 0;
  }
}

.main-nav__button {
  display: none;

  @media (min-width: var.$tablet-width) {
    display: block;
    max-width: 249px;
    margin: 0 0 0 auto;
    font-size: 12px;
  }

  @media (min-width: var.$desktop-width) {
    width: 100%;
    padding: 16px 18px 16px 18px;
    font-size: 14px;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: var.$tablet-width) {
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin: 6px 0;
    padding: 0 0 0 12px;
    border-left: 1px solid rgba(var.$white, 0.5);
  }

  @media (min-width: var.$desktop-width) {
    gap: 48px;
    margin: 8px 0;
    padding: 0 0 0 48px;
  }
}

.main-nav__link {
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  text-transform: uppercase;
  color: var.$white;

  @media (min-width: var.$tablet-width) {
    font-size: 12px;
    line-height: 13px;
  }

  @media (min-width: var.$desktop-width) {
    font-size: 14px;
  }
}

.main-nav__contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 16px;
  margin: auto 0 0 0;
  padding: 0;
  list-style: none;

  @media (min-width: var.$tablet-width) {
    display: none;
  }
}

.main-nav__contacts-item {
  width: 100%;

  &--icon {
    width: 52px;
  }

  &:nth-child(2) {
    width: calc(100% - 52px - 16px);
  }
}

.main-nav__contacts-link {
  font-weight: 400;

  &--icon {
    max-height: 52px;
    max-width: 52px;
  }
}
