@use "../global/variable.scss" as var;

.main-footer {
  padding: 55px 0 24px 0;
  background-color: var.$nero;

  @media (min-width: var.$desktop-width) {
    padding: 88px 0 25px 0;
  }
}

.main-footer__wrapper {
  margin: 0 0 54px 0;

  @media (min-width: var.$tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: var.$desktop-width) {
    margin: 0 0 30px 0;
  }
}

.main-footer__logo {
  display: block;
  margin: 0 0 10px 0;

  @media (min-width: var.$desktop-width) {
    margin: 0 0 40px 0;
  }
}

.main-footer__logo-img {
  @media (min-width: var.$desktop-width) {
    width: 439px;
    height: 62px;
  }
}

.main-footer__list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin: 0 0 56px 0;
  padding: 0;
  list-style: none;

  @media (min-width: var.$desktop-width) {
    gap: 37px;
  }
}

.main-footer__link {
  font-size: 16px;
  line-height: 15px;
  text-transform: uppercase;
  color: var.$white;
}

.main-footer__contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 16px;
  margin: auto 0 0 0;
  padding: 0;
  list-style: none;

  @media (min-width: var.$tablet-width) {
    gap: 32px;
    margin: 0;
  }

  @media (min-width: var.$desktop-width) {
    margin: -9px 0 0 0;
  }
}

.main-footer__contacts-item {
  width: 100%;

  &--icon {
    width: 52px;
  }

  &:nth-child(2) {
    width: calc(100% - 52px - 16px);

    @media (min-width: var.$tablet-width) {
      width: calc(100% - 52px - 32px);
    }

    @media (min-width: var.$desktop-width) {
      width: 240px;
    }
  }

  &--mail {
    @media (min-width: var.$tablet-width) {
      display: none;
    }
  }
}

.main-footer__contacts-link {
  &--icon {
    max-height: 52px;
    max-width: 52px;
  }
}

.main-footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 13px;
  color: var.$white;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: var.$tablet-width) {
    text-align: left;
  }

  @media (min-width: var.$desktop-width) {
    font-size: 16px;
    line-height: 15px;
  }
}

.main-footer__message {
  max-width: 220px;
  margin: 0 auto 15px auto;
  font-size: 14px;
  line-height: 17px;
  color: var.$white;
  text-transform: uppercase;
  text-align: center;
  order: -1;

  @media (min-width: var.$tablet-width) {
    order: unset;
    max-width: 320px;
    margin: 0;
    line-height: 13px;
    text-align: left;
  }

  img {
    vertical-align: text-bottom;
  }
}

.main-footer__mail {
  margin: 0;
  font-size: 14px;
  line-height: 13px;
  color: var.$white;
  text-transform: uppercase;

  @media (max-width: var.$mobile-width-only) {
    display: none;
  }

  @media (min-width: var.$desktop-width) {
    font-size: 16px;
    line-height: 15px;
  }
}

.main-footer__copyright-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: var.$tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}
