@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/gothampro/gothampro-regular.woff2"),
    url("../fonts/gothampro/gothampro-regular.woff");
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gothampro/gothampro-light.woff2"),
    url("../fonts/gothampro/gothampro-light.woff");
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/gothampro/gothampro-bold.woff2"),
    url("../fonts/gothampro/gothampro-bold.woff");
  font-display: swap;
}

@font-face {
  font-family: "GetVoIP Grotesque";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/getvoipgrotesque/getvoipgrotesque.woff2"),
    url("../fonts/getvoipgrotesque/getvoipgrotesque.woff");
  font-display: swap;
}

@font-face {
  font-family: "Floripa";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/floripa/floripa.woff2"),
    url("../fonts/floripa/floripa.woff");
  font-display: swap;
}
