/* Fonts */
$primary-font: "Gotham Pro", "Arial", sans-serif;
$secondary-font: "GetVoIP Grotesque", "Arial", sans-serif;
$accent-font: "Floripa", "Arial", sans-serif;

/* Breakpoints */

$mobile-width: 375px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

/* Colors */

$white: #ffffff;
$white-smoke: #f4f4f4;
$white-smoke-2: #f8f8f8;
$nero: #1c1c1c;
$nero-2: #1b1b1b;
$black-pearl: #070c10;
$dark-grey: #a6a6a6;
$suva-grey: #8a8a8a;
$mischka: #babbbd;
$gainsboro: #e3e3e3;
$light-grey: #d4d4d4;
$lavender: #ededf1;
$nobel: #9d9d9d;
$harley-davidson-orange: #e13017;
$brilliant-rose: #ef519d;
$transparent: transparent;
